.container {
   width: 95%;
   max-width: 700px;
   padding: 10px;
   margin: 0 auto;
}

.title {
   font-size: 2rem;
   font-weight: bold;
   margin-top: 30px;
}

.guide_list_heading {
   color: #3c3939;
   font-size: 1.4rem;
   font-weight: 500;
   margin-top: 20px;
}

.table_box {
   margin-top: 10px;
}

.table_content_list {
   list-style-type: disc;
   font-size: 21px;
   color: #1d1d1d;
   margin-top: 4px;
   margin-left: 30px;
}

.headning_red_line {
   font-size: 1.4rem;
   margin: 15px 0;
   margin-top: 13px;
}

@media screen and (max-width: 768px) {
   .title {
      font-size: 1.7rem;
   }

   .table_content_list {
      font-size: 16px;
      margin-left: 25px;
   }

   .headning_red_line {
      font-size: 1.1rem;
   }

   .guide_list_heading {
      font-size: 1.1rem;
   }
}

@media screen and (max-width: 530px) {
   .title {
      font-size: 1.5rem;
   }

   .table_content_list {
      font-size: 15px;
      margin-left: 20px;
   }

   .headning_red_line {
      font-size: 0.97rem;
   }

   .guide_list_heading {
      font-size: 0.97rem;
   }
}

@media screen and (max-width: 400px) {
   .title {
      font-size: 1.3rem;
   }

   .table_content_list {
      font-size: 12px;
      margin-left: 18px;
   }

   .headning_red_line {
      font-size: 0.97rem;
   }

   .guide_list_heading {
      font-size: 0.97rem;
   }
}