.container {
   width: 93%;
   max-width: 700px;
   padding: 10px;
   margin: 0 auto;
}

.title {
   font-size: 1.5rem;
   font-weight: bold;
   margin-top: 30px;
}

.image {
   width: 100%;
   height: auto;
   object-fit: cover;
   margin: 0 auto;
   margin-top: 1rem;
   max-width: 95%;
   margin-bottom: 1rem;
   border-radius: 10px;
}

.stepText {
   font-size: 23px;
   color: #1d1d1d;
   margin: 15px 0;
   margin-top: 17px;
}

.disclaimerMessage {
   font-size: 23px;
   color: #373232;
   margin: 15px 0;
   font-weight: 600;
}

.sub_heading {
   font-size: 1.4rem;
   font-weight: bold;
   margin-top: 30px;
}

.date {
   font-size: 1rem;
   margin-bottom: 0.789rem;
}

.table_content_list {
   font-size: 1.23rem;
}

@media screen and (max-width: 768px) {
   .title {
      font-size: 1.4rem;
   }

   .stepText {
      font-size: 20px;
   }

   .disclaimerMessage {
      font-size: 20px;
   }

   .table_content_list {
      font-size: 1.123rem;
   }

   .date {
      font-size: 0.9rem;
   }
}

@media screen and (max-width: 530px) {
   .title {
      font-size: 1.5rem;
   }

   .stepText {
      font-size: 18px;
   }

   .disclaimerMessage {
      font-size: 18px;
   }

   .sub_heading {
      font-size: 1.3rem;
   }

   .table_content_list {
      font-size: 0.9123rem;
   }

   .date {
      font-size: 0.89rem;
   }
}

@media screen and (max-width: 400px) {
   .title {
      font-size: 1.3rem;
   }

   .stepText {
      font-size: 16px;
   }

   .disclaimerMessage {
      font-size: 16px;
   }

   .sub_heading {
      font-size: 1.2rem;
   }

   .table_content_list {
      font-size: 0.89123rem;
   }

   .date {
      font-size: 0.789rem;
   }
}