.container {
   margin: auto;
   padding: 8px;
   width: 100%;
   max-width: 1000px;
   margin-top: 20px;
   display: flex;
   justify-content: space-between;
   gap: 8px;
}

.mobile_blog {
   width: 100%;
   max-width: 100%;
   box-sizing: border-box;
   overflow: hidden;
   margin-right: 10px;
}

.phone_review_section {
   padding-left: 5px;
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 30px;
}

.mobile_review_blog {
   margin-top: 5px;
}

.phone_review_blog {
   text-align: center;
   color: #3f7ec2;
   font-weight: 600;
   font-size: 1rem;
}

.phone_review_blog:hover {
   text-decoration: underline;
}

.phone_review_blog_description {
   font-size: 0.82rem;
}

.all_phones {
   display: flex;
   overflow-x: auto;
   align-items: center;
   scroll-snap-type: x mandatory;
   -webkit-overflow-scrolling: touch;
   width: 100%;
}

.all_phones::-webkit-scrollbar {
   display: none;
}

.all_phones>* {
   flex: 0 0 auto;
}

.modile_extra_data {
   width: 450px;
   display: flex;
   flex-direction: column;
}

.mobile_description {
   margin-top: 5px;
   padding: 3px 6px;
}

@media screen and (max-width: 850px) {
   .modile_extra_data {
      width: 450px;
   }
}

@media screen and (max-width: 780px) {
   .mobile_blog {
      width: 100%;
      max-width: 100%;
      padding: 0px;
   }
}

@media screen and (max-width: 730px) {

   .container {
      flex-direction: column;
   }

   .modile_extra_data {
      width: 100%;
   }

}