.section_heaning {
   width: 100%;
   font-size: 19px;
   font-weight: bold;
   display: flex;
   background-color: hsla(0, 0%, 96%, 0.556);
   align-items: center;
   gap: 11px;
}

.red_border {
   width: 6px;
   height: 16px;
   background-color: #3f7ec2;
   padding-top: 17px;
   padding-bottom: 17px;
}

@media screen and (max-width: 850px) {
   .section_heaning {
      font-size: 17px;
   }
}

@media screen and (max-width: 768px) {
   .section_heaning {
      font-size: 16px;
   }

   .red_border {
      padding-top: 16px;
      padding-bottom: 16px;
   }
}

@media screen and (max-width: 530px) {
   .section_heaning {
      font-size: 15px;
   }

   .red_border {
      padding-top: 15px;
      padding-bottom: 15px;
   }
}

@media screen and (max-width: 400px) {
   .section_heaning {
      font-size: 16px;
   }
}