.container {
   width: 93%;
   max-width: 700px;
   padding: 10px;
   margin: 0 auto;
}

.title {
   font-size: 2rem;
   font-weight: bold;
   margin-top: 35px;
}

.description_paragraph {
   font-size: 23px;
   line-height: 1.8;
   color: #1d1d1d;
   margin: 15px 0;
   margin-top: 10px;
}

@media screen and (max-width: 768px) {
   .title {
      font-size: 1.7rem;
   }

   .description_paragraph {
      font-size: 20px;
   }
}

@media screen and (max-width: 530px) {
   .title {
      font-size: 1.5rem;
   }

   .description_paragraph {
      font-size: 18px;
   }
}

@media screen and (max-width: 400px) {
   .title {
      font-size: 1.3rem;
   }

   .description_paragraph {
      font-size: 16px;
   }
}